.container.proto-new
  = form_for prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          -if @images_main.present?
            .cover-image-upload#main_image_uploader
              = f.fields_for :captured_images, @images_main do |image|
                = image_tag(@prototype.set_main_thumbnail.large, alt: "main_photo", class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
                = image.file_field :content
                = image.hidden_field :status, value: "main"
          -else
            .cover-image-upload#main_image_uploader
              = f.fields_for :captured_images, @images_new do |image|
                %img
                = image.file_field :content
                = image.hidden_field :status, value: "main"
        .col-md-12
          %h4 Sub Thumbnails
          -if @images_sub.present?
            %ul.proto-sub-list.list-group
              -@images_sub.each do |sub_image|
                %li.list-group-item.col-md-4
                  .image-upload
                    = f.fields_for :captured_images, sub_image do |image|
                      = image_tag(sub_image.content, alt: "main_photo", class: 'img-responsive img-size-fix',style: "margin: 0 auto;,height: 200px;")
                      = image.file_field :content
                      = image.hidden_field :status, value: "sub"
              - (3 - @images_sub.length).times do |i|
                %li.list-group-item.col-md-4
                  .image-upload
                    = f.fields_for :captured_images, @images_new do |image|
                      %img
                      = image.file_field :content
                      = image.hidden_field :status, value: "sub"
          -else
            %ul.proto-sub-list.list-group
              - 3.times do |i|
                %li.list-group-item.col-md-4
                  .image-upload
                    = f.fields_for :captured_images do |image|
                      %img
                      = image.file_field :content
                      = image.hidden_field :status, value: "sub"
      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, required: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, required: true, placeholder: "Input Concept"
        .col-md-12
          %h4 Tag List
          .row
          .col-md-3
            %input{type:"text", name: "prototype[tag_list][]", placeholder: "Tag"}
          .col-md-3
            %input{type:"text", name: "prototype[tag_list][]", placeholder: "Tag"}
          .col-md-3
            %input{type:"text", name: "prototype[tag_list][]", placeholder: "Tag"}
      .row.text-center.proto-btn
        = f.submit "PUBLISH", id: "button", class: "btn btn-lg btn-primary btn-block"
